{% extends 'base.html.twig' %}

{% block title %}Hello EcuriesController!{% endblock %}

{% block body %}
<section id="ecuries">
    <div id="accordeonConstructors">
        {% for constructor in constructors %}
        <a class="constructorCard" href=""><img src="{{ asset('assets/ecuries/' ~ constructor.constructorId ~ '.png') }}" alt=""></a>            
        {% endfor %}
    </div>

</section>
{% endblock %}
