{% extends 'base.html.twig' %}

{% block title %}F1ndout - Saisons{% endblock %}

{% block body %}
<div hidden id="chargement"></div>
<div id="saison">
    <select name="saisonSelect" id="saisonSelect"></select>
    <section>
        <div id="calendrier"></div>
    </section>
    <section>
        <div id="classements"></div>
    </section>    
</div>
{% endblock %}
{% block javascripts %}
        <script src="{{ asset('javascript/saisons.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment-with-locales.min.js"></script>
{% endblock %}
