{% extends 'base.html.twig' %}

{% block title %}Saison{% endblock %}

{% block body %}
<section id="saison">
    <select name="saisonSelect" id="saisonSelect"></select>
</section>
{% endblock %}
{% block javascripts %}
        <script src="{{ asset('javascript/saisons.js') }}"></script>
{% endblock %}
