{% extends 'base.html.twig' %}

{% block title %}Saison{% endblock %}

{% block body %}
<section id="saison">
    <select name="saisonSelect" id="saisonSelect"></select>
    <div id="calendrier"></div>
    <div id="classements"></div>
</section>
{% endblock %}
{% block javascripts %}
        <script src="{{ asset('javascript/saisons.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment-with-locales.min.js"></script>
{% endblock %}
