{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div id="container">
    <section id="header">
        <video muted autoplay loop>
            <source src="{{ asset('assets/videos/f1intro2.mp4') }}" type="video/mp4" />
        </video>
        <div id="svg">
            <div id="headerTitle" class=".hidden">
                <span>gardez</span>
                <span>le</span>
                <span>rythme</span>
                <span>de la f1</span>
            </div>
            <img src="{{ asset('assets/svg/nnnoise.svg')}}" alt="">
        </div>
        <div id="scrollDown"><i class="fa-solid fa-chevron-down"></i></div>
    </section>
    <section id="grandprix">
        <p id="nextGp"></p>
        <div class="countdown">
            <div>
                <p id="jours">00</p>
                <p>Jours</p>
            </div>
            <div>
                <p id="heures">00</p>
                <p>Heures</p>
            </div>
            <div>
                <p id="minutes">00</p>
                <p>Minutes</p>
            </div>
            <div>
                <p id="secondes">00</p>
                <p>Secondes</p>
            </div>
        </div>
        <div id="accordeonGp"></div>
    </section>
</div>
{% endblock %}
