@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}


#container::-webkit-scrollbar{
    width: 5px;
}

#container::-webkit-scrollbar-track{
    background-color: #d0d8e6;
    border-radius: 10px;
}

#container::-webkit-scrollbar-thumb{
    background-color: #000000;
    border-radius: 10px;
}

section{
    height: 100vh;
    width: 100vw;
    scroll-snap-align:start;
}

#chargement:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #c2c8cf;
    z-index: 9999;
    transition: 1s;
  }
  
  #chargement::after {
    content: "";
    width: 70px;
    height: 70px;
    border: 2px solid #dfe7ef;
    border-top: 3px solid #0080ff;
    border-radius: 100%;
    will-change: transform;
    animation: spin .7s infinite linear  
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  small{
    font-weight: 300;
  }

/* -----------------------------------------------------NAV------------------------------------------------------ */

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 9999;
        width: 100%;
        height: 64px;
        color: black;
        backdrop-filter: blur(72px);
        padding: 0px 50px;
        box-shadow: 0px 15px 35px -5px rgba(50, 87, 130, 0.142);
    }

    nav > * {
        animation: navIn 1.6s;
    }

    nav h1{
        font-family: 'Righteous', cursive;
        font-size: 1.8rem;
        font-weight: 200;
        height: fit-content;
    }
    #menuBtn{
        position: absolute;
        right: 100px;
    }

    .fa-chevron-down{
        margin-left: 5px;
        transition: .3s ease-in-out;
        transition-delay: 0.15s;
    }

    #menu{
        height: 0px;
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 65px;
        right: 30px;
        background-color: rgba(0, 0, 0, 0.607);
        backdrop-filter: blur(46px);
        color: #f1f1f100;
        text-transform: uppercase;
        border-radius: 5px;
        overflow: hidden;
        transition: .3s;
        transition-delay: 0.20s;
    }

    #menuBtn:hover{
        cursor: pointer;
    }

    #menuBtn:hover + #menu {
        height: 170px;
        color: #f1f1f1;
    }
    
    #menu:hover {
        height: 170px;
        color: #f1f1f1;
        cursor: pointer;
    }
    
    #menu a{
        padding: 10px 50px 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: #f1f1f1;
    }

    #menu a:not(.active){
        padding: 10px 50px 10px 20px;
        color: #bebebe;
        transition: .3s;
    }

    .active{
        background-color: rgb(0, 140, 255);
        color: #f1f1f1;
    }

    #menu a:hover{
        color: #f1f1f1;
    }


    .fa-user{
        font-size: 1.2rem;
        padding: 5px;
        margin-top: 4px;
    }

    #user {
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 0;
        top: 65px;
        right: 30px;
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(3px);
        color: #f1f1f100;
        text-transform: uppercase;
        border-radius: 5px;
        overflow: hidden;
        transition: .3s;
        transition-delay: 0.20s;
    }

    #user a{
        padding: 10px 25px 10px 20px;
        transition: .3s;
        text-decoration: none;
        color: #8d8d8d;
    }

    .fa-user:hover{
        cursor: pointer;
    }

    .fa-user:hover + #user {
        height: 90px;
        background-color: rgba(24, 24, 24, 0.564);
        color: #8d8d8d;
    }

    #user:hover{
        height: 90px;
        background-color: rgba(24, 24, 24, 0.564);
        color: #8d8d8d;
        cursor: pointer;
    }

    #user a:hover{
        color: #f1f1f1;
    }

    #container{
        position: relative;
        height: 100vh;
        width: 100vw;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
    }

    /* ----------------------------------LOGIN/REGISTER/RESET-------------------------------- */

.register form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.register form div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register form div:nth-child(5){
    display: flex;
    gap: 5px;
    margin-top: 10px;
}


#loginMain, #registerMain, #requestMain, #checkMailMain, #resetMain, #adminMain{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6dee7;  
}

.login, .register, .request, .reset{
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.1);
}

.formInput{
    width: 100%;
    background-color: #d9e0e4;
    border-radius: 5px;
    border: none;   
    outline: none;
    padding: 10px;
}

form[name = reset_password_request_form], form[name = change_password_form], #loginMain form .login, #registerMain form{
    gap: 10px;
}

form[name = reset_password_request_form] div, form[name = change_password_form] div{
width: 100%;
display: flex;
justify-content: center;
}

.message-erreur{
    color: red;
    background-color: #0080ff;
}

.login a{
    margin-top: 10px;
    text-decoration: none;    
}

.formBtn{
    width: 100px;
    background-color: #008cff;
    border-radius: 5px;
    height: 30px;
    border: none;
    outline: none;
    margin-top: 20px;
    color: #f1f1f1;
    transition: .3s;
}

.formBtn:hover{
    cursor: pointer;
    background-color: #004f8f;
}



h3{
    color: #f1f1f1;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}

#footer{
    height: fit-content;
}

footer{
    height: 200px;
    width: 100vw;
    background-color: #2b2b2b;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer .liens{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

footer a{
    color: #f1f1f1;
}

footer span{
    width: 100%;
    text-align: center;
}

.request form, .reset form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.request button, .reset button{
    background-color: #0080ff;
    color: #f1f1f1;
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.2);
}

/* -----------------------------------------------------ADMIN------------------------------------------------------ */
#adminMain{
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
}

#adminMain #utilisateurs{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    width: 80%;
    height: 80%;
    gap: 5%;
}

#adminMain #listeUtilisateurs{
    height: 100%;
    width: 40%;
    overflow-y: auto;
}

#adminMain #listeUtilisateurs ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#adminMain #listeUtilisateurs li{
    margin-right: 5px;
}

#adminMain #listeUtilisateurs::-webkit-scrollbar{
    width: 5px;
}

#adminMain #listeUtilisateurs::-webkit-scrollbar-track{
    background-color: #d0d8e6;
    border-radius: 10px;
}

#adminMain #listeUtilisateurs::-webkit-scrollbar-thumb{
    background-color: #a3b3ce;
    border-radius: 10px;
}


#adminMain .user{
    position: relative;
    display: flex;
    background-color: #f1f1f1;
    padding: 10px;
    justify-content: start;
    align-items: center;
    border-radius: 3px;
 }

 #adminMain .activeUser{
    background-color: #058eff;
 }

 #adminMain .activeUser .userData a{
    color: #f1f1f1;
 }

 #adminMain .activeUser .userData span {
    color: #b9b9b9;
 }

 #adminMain .userData{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
 }

 #adminMain .userData a{
    text-decoration: none;
    color: #303c4b;
    font-weight: 600;
 }

 #adminMain .userData span{
    font-size: .85rem;
    color: #5c5c5c;
    font-weight: 300;
 }

 #adminMain .bannir{
    position: absolute;
    top: 15px;
    right: 35px;
 }

 #adminMain .banToggle {
    position: absolute;
    bottom: 16px;
    right: 30px;
    width: 60px;
    height: 28px;
    border-radius: 2px;
    background-color: #d6dee7;
    display: flex;
    align-items: center;
    padding: 3px;
    text-decoration: none;
} 

#adminMain .toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #71829e;
    width: 22px;
    height: 19px;
    border-radius: 2px;
    font-size: .6rem;
    color: #f1f1f1;
    position: absolute;
    left: 5px;
    transition: .3s;
  }

  #adminMain .activeToggle{
    left: 33px;
    background-color: rgb(156, 22, 22);
  }

 #adminMain #listeMessages{
    width: 60%;
    height: 100%;
    overflow-y: auto;
 }

 #adminMain #listeMessages::-webkit-scrollbar{
    width: 5px;
}

#adminMain #listeMessages::-webkit-scrollbar-track{
    background-color: #d0d8e6;
    border-radius: 10px;
}

#adminMain #listeMessages::-webkit-scrollbar-thumb{
    background-color: #a3b3ce;
    border-radius: 10px;
}

#adminMain #listeMessages ul{
    margin-right: 5px;
}

 #adminMain #listeMessages li{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 10px;
    justify-content: start;
    align-items: start;
    border-radius: 3px;
}

#adminMain #listeMessages li .delete{
    position: absolute;
    top: 10px;
    right: 10px;
}

#adminMain #uploadForm{
    width: 95%;
    display: none;
    justify-content: center;
}

#adminMain .form{
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 3px;
}

#adminMain .form form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imagePilote, .imageGrandprix, .imageEcurie, .imageCircuit{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#adminMain #uploadForm .yearRoundRow{
    display: flex;
    gap: 10px;
}

#adminMain #uploadForm .imageCircuit, #adminMain #uploadForm .imageEcurie, #adminMain #uploadForm .imageGrandprix, #adminMain #uploadForm .imagePilote, #adminMain #uploadForm .imagePilote .numeroPiloteInput, #adminMain #uploadForm .imageVoiture {
    display: none;
}
/* -----------------------------------------------------HOME------------------------------------------------------ */
    /* -----------------------------------------------------HEADER------------------------------------------------------ */

        #header{
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }

        #headerTitle{
            display: flex;
            flex-direction: column;
            position: absolute;
            justify-content: center;
            padding-left: 80px;
            z-index: 1001;
            font-size: 12rem;
            line-height: 150px;
            font-weight: 900;
            color: rgb(255, 255, 255);
            color: black;
            text-transform: uppercase;
            height: 100vh;
            width: 100vw;
            vertical-align:middle;
        }

        #headerTitle span{
            font-family: 'Righteous', cursive;
            width: 1100px;
        }

        #headerTitle span:nth-child(1){
            animation: titleIn 1.6s;
        }

        #headerTitle span:nth-child(2){
            animation: titleIn 2s;
        }

        #headerTitle span:nth-child(3){
            animation: titleIn 2.4s;
        }

        #headerTitle span:nth-child(4){
            animation: titleIn 2.8s;
        }

        #header video{
            height: 100vh;
            transform: scale(110%);
            overflow: hidden;
            position: fixed;
            z-index: -1;
            filter: blur(42px);
        }

        #svg{
            height: 100vh;
            width: 100vw;
            position: absolute;
            z-index: 1000;
            mix-blend-mode:screen;
            overflow: hidden;
        }

        #svg img{
            background-color: #dfe7ef;;
            position: absolute;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            transform: scale(170%);
            animation: rotate 4s linear infinite;
            
        }


        #scrollDown{
            position: absolute;
            bottom: 20px;
            font-size: 2rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1002;
            color: black;
            animation: titleIn 2.8s, arrow 2s reverse infinite;
            text-decoration: none;
        }

        @keyframes navIn {
            0% {
                opacity: 0;
                transform: translateY(-200px);
            }

            0% {
                opacity: 0;
                transform: translateY(-200px);
            }

            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }


        @keyframes titleIn {
            0% {
                opacity: 0;
                transform: translateY(200px);
            }
            
            40%{
                opacity: 0;
                transform: translateY(200px);
            }
            
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }

        @keyframes rotate {
            from {
                transform: scale(170%);
            }

            to {
                transform: scale(270%);
            }
        }

        @keyframes arrow {
            0% {
                transform: translateY(5px);
                
            }
            20%{
                transform: translateY(-10px);
            }
            100%{
                transform: translateY(5px);
            }
        }
    /* -----------------------------------------------------NEXT GP------------------------------------------------------ */

        #grandprix{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 100vw;
            padding: 100px 50px;
            background-color: #d6dee7;
            color: black;
        }

        #grandprix > p:first-child{
            width: 100%;
            text-align: center;
            z-index: 1002;
            height: fit-content;
        }

        .countdown{
            display: flex;
            z-index: 1002;
            gap: 20px;
            height: fit-content;
        }

        .countdown div{
            flex-basis: 100px;
        }



        .countdown div p:first-child{
            font-size: 60px;
            margin-bottom: -20px;
            text-align: center;
        }

        .countdown div p:last-child{
            text-align: center;
        }

    /* -----------------------------------------------------ACCORDEON------------------------------------------------------ */
        #accordeonGp{
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: 100%;
            height: fit-content;
            margin: 20px 100px;
            overflow-x: scroll;
        }

        #accordeonGp::-webkit-scrollbar{
            height: 5px;
        }

        #accordeonGp::-webkit-scrollbar-track{
            background-color: #d0d8e6;
            border-radius: 10px;
        }

        #accordeonGp::-webkit-scrollbar-thumb{
            background-color: #a3b3ce;
            border-radius: 10px;
        }

        #accordeonGp .cardGp{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 150px;
            background-color: rgba(255, 0, 0, 0);
            height: 470px;
            transition: .5s;
            overflow: hidden;
            overflow-y: visible;
        }

        #accordeonGp .cardGp:hover{
            min-width: 350px;
            cursor: pointer;
        }

        #accordeonGp .cardGp:hover .nomGp {
            display: block;
        }

        #accordeonGp .cardGp:hover .dateGp {
            color: #f1f1f1;
            background-color: rgba(0, 0, 0, 0.642);
            backdrop-filter: blur(5px);    
        }

        #accordeonGp .nomGp {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 3rem;
            font-weight:900;
            line-height: 40px;
            width: 340px;
            text-transform:uppercase ;
            display: none;
        }

        #accordeon img{
            filter: brightness(0.1);
        }

        #accordeonGp .dateGp {
            position: absolute;
            bottom: 220px;
            width: 350px;
            text-align: center;
            font-size: 2rem;
            font-weight: 900;
            text-transform: uppercase;
            transition: .5s;
            color: #f1f1f100;
            background-color: rgba(0, 0, 0, 0);
        }

    /* -----------------------------------------------------LAST RACE------------------------------------------------------ */

        #lastRace{
            background-color: #dfe7ef;
            min-height: 100vh;
        }
        #lastRaceResults{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 100px;
            padding-bottom: 20px;
        }

        #lastRaceResultsHeader{
            width: 100%;
            overflow: hidden;
            border-radius: 5px;
        }

        #lastRaceResultsUl{
            width: 100%;
            height: 625px;
            overflow-y: scroll;
            padding-right: 10px;
        }


        #lastRaceResultsUl::-webkit-scrollbar{
            width: 5px;
        }

        #lastRaceResultsUl::-webkit-scrollbar-track{
            /* background-color: #ffffff7d; */
            background-color: #d0d8e6;
            border-radius: 10px;
        }

        #lastRaceResultsUl::-webkit-scrollbar-thumb{
            /* background-color: #ffffff; */
            background-color: #a3b3ce;
            border-radius: 10px;
        }

        #lastRaceResults li{
            display: flex;
            align-items: center;
            background-color: #f1f1f1;
            color: black;
            margin-top: 5px;
            padding: 10px;
            border-radius: 5px;
            position: relative;
        }

        #lastRaceResults li:nth-child(1){
            margin-top: 0px;
        }

        #lastRaceResults li span:nth-child(1){
            margin-left: 10px;
            font-weight: 700;
            position: absolute;
            left: 20px;
        }

        #lastRaceResults li div{
            position: absolute;
            margin-left: 10px;
            width: 5px;
            height: 15px;
            border-radius: 1px;
            left: 45px;
        }

        #lastRaceResults li span:nth-child(3){
            margin-left: 60px;
        }

        #lastRaceResults li span:nth-child(4){
            margin-left: 5px;
            font-weight: 700;
            text-transform: uppercase;
        }

        #lastRaceResults li span:nth-child(5){
            margin-left: 15px;
            font-weight: 300;
            color: #818181;
            font-size: .8rem;
        }

        #lastRaceResults li span:nth-child(6) {
            position: absolute;
            right: 30px;
            background-color: #dcdcdc;
            border-radius: 20px;
            padding: 2px 10px;
            font-weight: 700;
            font-size: .8rem;
        }

        #lastRaceResults li a{
            position: absolute;
            color: #dc0606;
            right: 15px;
        }

        #lastRaceResultsHeader{
            position: relative;
            height: 170px;
            margin-bottom: 10px;
        }

        #lastRaceResultsHeader img{
            max-width: 1464px;
        }

        #lastRaceResultsHeader span{
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 20px 10px;
            width: 100%;
            height: 100%;
            line-height: 70px;
            font-size: 5rem;
            font-weight: 900;
            text-transform: uppercase;
            background-color: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
        }

 /* -----------------------------------------------------COMMENTAIRES------------------------------------------------------ */

        #commentaires{
            background-color: #030303;
            background-color: #d6dee7;
            height: 100vh;
            padding-top: 100px;
            padding-bottom: 50px;
        }

        #commentaires .aucunMessage{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
    
        #messages{
            max-height: 70%;
            overflow: auto;
            margin: 0px 100px;
            display: flex;
            flex-direction: column;
            align-items: start;
            padding: 20px;
            border-radius: 3px;
        }

        #messages::-webkit-scrollbar{
            width: 5px;
        }

        #messages::-webkit-scrollbar-track{
            background-color: #d0d8e6;
            border-radius: 10px;
        }

        #messages::-webkit-scrollbar-thumb{
            background-color: #a3b3ce;
            border-radius: 10px;
        }

        #addMessage{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin-top: 10px;
        }
        
        #addMessage form{
            width: 50%;
        }
        
        #addMessage .addMessage{
            background-color: #f1f1f1;
            box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
            border-radius: 5px;
        }
        #addReponse{
            display: none;
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: #00000081;
            backdrop-filter: blur(12px);
            justify-content: center;
            align-items: center;
        }

        
        #formReponse{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30%;
            padding: 20px;
            padding-top: 30px;
            background-color: #f1f1f1;
            border-radius: 5px;
        }

        #btnFermer{
            position: absolute;
            right: 10px;
            top: 5px;
            color: rgb(184, 18, 18);
            font-size: 1.2rem;
            cursor: pointer;
        }

        #addReponse form{
            width: 100%;
        }

        .messageBox{
            width: 100%;
            height: 150px;
            background-color: #f1f1f1;
            color: #000000;
            padding: 10px ;
            border-radius: 5px;
            border: none;
            outline: none;
            resize: none;
        }

        .messageSuppr{
            background-color: #f1f1f1;
            border-radius: 3px;
            width: 100%;
            box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
            padding: 20px;
        }

        .ajouter{
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btnAjouter{
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            background-color: rgb(0, 149, 255);
            color: #f1f1f1;
            cursor: pointer;
        }

        #listeMessages{
            width: 100%;
        }

        #listeMessages li{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 10px;
            gap: 10px;
        }

        #listeMessages .post{
            width: 100%;
            display: flex;
            gap: 10px;
        }

        .userImg{
            height: 60px;
            width: 60px;
            border: solid white 2px;
            border-radius: 3px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
        }

        .userImg img{
            width: 60px;
            height: 60px;
            object-fit: cover;
        }

        #listeMessages .postCard{
            background-color: #f1f1f1;
            border-radius: 3px;
            height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
        }

        #listeMessages .infosPost{
            position: relative;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            border-bottom: solid 1px #9f9f9f;
            height: 55px;
            width: 100%;
            padding: 10px;
            gap: 10px;
        }

        #listeMessages .pseudo{
            color: #29587e;
            font-weight: 600;
            line-height: 0px;
        }

        #listeMessages .datePost{
            color: #8d8d8d;
            font-size: .8rem;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #listeMessages .actions{
            position: absolute;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        #listeMessages .likePost:not(.liked), #listeMessages .replyPost, #listeMessages .delete{
            color: #A6A6A6;
            transition: .3s;
            cursor: pointer;
        }

        #listeMessages .likePost{
            text-decoration: none;
        }

        .liked {
            color: #ea0052;
        }

        #listeMessages .likePost i:hover{
            color: #ea0052
        }
        
        #listeMessages .replyPost i:hover{
            color: #29587e
        }
        
        #listeMessages .delete i:hover{
            color: #a51717
        }
        
        #listeMessages .message{
            min-height:60px ;
            padding: 10px;
        }

        #listeReponses {
            width: 100%;
            margin-left: 70px;
        }

        #listeMessages .userImgReponse{
            height: 50px;
            width: 50px;
            border: solid white 2px;
            border-radius: 3px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
        }

        #listeMessages .userImgReponse img{
            width: 50px;
            height: 50px;
            object-fit: cover;
        }

        #commentaires .msgBan{
            display: block;
            width: 100%;
            text-align: center;
        }

/* -----------------------------------------------------SAISONS------------------------------------------------------ */
#saison{
    position: relative;
    background-color: #dfe7ef;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

#saison::-webkit-scrollbar{
    display: none;
}

#saison select{
    position: absolute;
    top: 200px;
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.422) ;
    color: #f1f1f1;
}

#saison select:hover{
    cursor: pointer;
}

#saison select option{
    background-color: rgb(12, 11, 22);
}

#saison select option:hover{
    background-color: rgb(15, 101, 214);
}

#calendrier{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 80px;

}

#saison .listeGp{
    width: 94%;
    height: 770px;
    overflow-y: scroll;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

#saison .listeGp::-webkit-scrollbar{
    width: 5px;
}

#saison .listeGp::-webkit-scrollbar-track{
    background-color: #d0d8e6;
    border-radius: 10px;
}

#saison .listeGp::-webkit-scrollbar-thumb{
    background-color: #a3b3ce;
    border-radius: 10px;
}

#saison .listeGp li {
    position: relative;
    height: 250px;
    width: 250px;
    overflow: hidden;
}

#saison .listeGp img{
    width: 250px;
}

#saison .listeGp span{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    height: 100%;
    font-size: 2rem;
    font-weight: 700;
    color: #f1f1f1;
    background-color: rgba(0, 0, 0, 0.336);
}

#saison #standingsSelector{

    margin-top: 100px;
    display: flex;
    gap: 20px;
}

#saison #standingsSelector button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 1.2rem;
    color:#8d8d8d;
    text-transform: uppercase;
    transition: .3s;
}

#saison #standingsSelector button:hover{
    cursor: pointer;
    color: #000000;
}

#classements{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
}

.classement{
    width: 94%;
    height: 500px;
    overflow-y: auto;
    padding-right: 10px;
    margin-top: 20px;
}


.classement::-webkit-scrollbar{
    width: 5px;
}

.classement::-webkit-scrollbar-track{
    background-color: #d0d8e6;
    border-radius: 10px;
}

.classement::-webkit-scrollbar-thumb{
    background-color: #a3b3ce;
    border-radius: 10px;
}

.classement li{
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    color: black;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.classement li:nth-child(1){
    margin-top: 0px;
}

.classement li span:nth-child(1){
    margin-left: 10px;
    font-weight: 700;
    position: absolute;
    left: 20px;
}

.classement li div{
    position: absolute;
    margin-left: 10px;
    width: 5px;
    height: 15px;
    border-radius: 1px;
    left: 45px;
}

.classement li span:nth-child(3){
    margin-left: 60px;
}

.classement li span:nth-child(4){
    margin-left: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.classement li span:nth-child(5){
    margin-left: 15px;
    font-weight: 300;
    color: #818181;
    font-size: .8rem;
}

.classement .points {
    position: absolute;
    right: 15px;
    background-color: #dcdcdc;
    border-radius: 20px;
    padding: 2px 10px;
    font-weight: 700;
    font-size: .8rem;
}

#driverStandingsUl{
    height: 700px;
}

/* -----------------------------------------------------DETAILS GRANDPRIX------------------------------------------------------ */

#detailsGp{
    background-color: #dfe7ef;
    padding: 50px;
    padding-top: 150px;

    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    justify-content: center;
    
}

#infosGp{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-radius: 3px; 
}

#headerGp{
    position: absolute;
    height: 100%;
}

#infosGp div{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#imgFilter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #03030381;
}

#infosGp div span{
    height: fit-content;
}

#infosGp div span:first-child{
    line-height: 50px;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;
}

#infosGp div span:nth-child(2){
    line-height: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    width: 100%;
}

#infosGp div span:nth-child(4){
    line-height: 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#infosGp div img{
    height: 20px;
    margin-right: 10px;
}

#meteo{
    display: flex;
    flex-wrap: wrap;
    color: #71829e;
    background-color: #eef3f7;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 3px; 
    overflow: hidden;
}

#errMeteo{
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#errMeteo > span:first-child{
    position: relative;
}

#errMeteo .fa-cloud{
    font-size: 3rem;
}

#errMeteo .fa-circle-exclamation{
    position: absolute;
    right: -5px;
    bottom: 0px;
    font-size: 1.5rem;
    color: #ffa500;
    background-color: white;
    border-radius: 50%;
}

#meteo > div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
    text-transform: uppercase;
    background-color: #dfe7ef;
    box-shadow:
    0px 0px 0.7px rgba(0, 0, 0, 0.016),
    0px 0px 1.7px rgba(0, 0, 0, 0.019),
    0px 0px 3.3px rgba(0, 0, 0, 0.022),
    0px 0px 5.8px rgba(0, 0, 0, 0.028),
    0px 0px 10.9px rgba(0, 0, 0, 0.04),
    0px 0px 26px rgba(0, 0, 0, 0.07)
  ;
}

#meteo > div:first-child span{
    padding: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

#meteo > div:first-child span:not(.active):hover{
    background-color: #d6dee7;
}

#meteo > div:nth-child(2){
    width: 100%;
    height: 40%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconMeteo{
    font-size: 2rem;
}

#iconMeteo > span:not(span:first-child){
    display: none;
}

#temperature > span:not(span:first-child){
    display: none;
}

#descrMeteo > span:not(span:first-child){
    display: none;
}

#date > span:not(span:first-child){
    display: none;
}

#meteo > div:nth-child(3){
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#meteo > div:nth-child(4){
    width: 30%;
    height: 40%;
    background-color: #dfe7ef;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
  0px 0px 0.7px rgba(0, 0, 0, 0.016),
  0px 0px 1.7px rgba(0, 0, 0, 0.019),
  0px 0px 3.3px rgba(0, 0, 0, 0.022),
  0px 0px 5.8px rgba(0, 0, 0, 0.028),
  0px 0px 10.9px rgba(0, 0, 0, 0.04),
  0px 0px 26px rgba(0, 0, 0, 0.07)
;
    border-radius: 3px 0 0 0;
}

#circuit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eef3f7;
    padding: 10px;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 3px; 
}

#circuit img{
    height: 550px;
}

#programme{
    background-color: #eef3f7;
    padding: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #71829e;
    position: relative;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32); 
    border-radius: 3px;
    overflow: hidden;
}

#programme > span:first-child{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
}

#vendredi, #samedi, #dimanche{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 600;
}

#vendredi span, #samedi span, #dimanche span{
    font-weight: 300;
}

#programme a{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(31, 129, 214);
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
/* -----------------------------------------------------RESERVATION------------------------------------------------------ */
#reservation{
    background-color: #030303;
    background-color: #dfe7ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 50px 50px 50px;
}

#reservation form{
    display:flex;
    flex-wrap: wrap;
    height: 100%;
}

#session{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    color: #f1f1f1;
}

#session > div:first-child{
    background-color: #303c4b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
#session .session_option{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 250px;
    cursor: pointer;
}

#session input{
    display: none;
}

#session .option_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #303c4b;
    width: 100%;
    height: 100%;
}

#session .session_option .radio:checked ~ .option_inner {
    background-color: #008cff;
}

#map{
    height: 65%;
    width: 70%;
    background-color: #f7f8fc;
    overflow: hidden;
}

#map img{
    width: 100%;
}

#emplacement{
    height: 65%;
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 5px;
}

#emplacement > span:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    height: 50px;
    width: 100%;
    background-color: #303c4b;
}

#emplacementSelect{
    height: 70%;
    width: 100%;  
    display: flex;
    padding-right: 5px;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
}

#emplacementSelect::-webkit-scrollbar{
    width: 5px;    
}

#emplacementSelect::-webkit-scrollbar-track{
    background-color: #d0d8e6;
    border-radius: 10px;
}

#emplacementSelect::-webkit-scrollbar-thumb{
    background-color: #a3b3ce;
    border-radius: 10px;
}


#emplacementSelect .emplacement_option{
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

#emplacementSelect .option_inner{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 85px;
    padding: 20px;
    background-color: #303c4b;
    color: #f1f1f1;
}

#emplacementSelect span:nth-child(2){
    position: absolute;
    right: 20px;
}

#emplacementSelect input{
    display: none;
}

#emplacementSelect .radio:checked ~ .option_inner{
    background-color: #008cff;
}

#emplacement .nbPersonnes{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303c4b;
    color: #f1f1f1;
}

#emplacement .nbPersonnes input{
    margin-left: 5px;
    padding-left: 5px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.356);
    color: #f1f1f1;
    border: none;
    outline: none;
}

#emplacement .btnReserver{
    background-color: rgb(8, 162, 3);
    color: #f1f1f1;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    border: none;
}

/* -----------------------------------------------------ECURIES------------------------------------------------------ */
#ecuries{
    position: relative;
    background-color: #dfe7ef;
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#accordeonConstructors{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

#accordeonConstructors .constructorCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 800px;
    overflow: hidden;
    transition: .3s;
}

#accordeonConstructors .constructorCard:hover{
    width: 450px;
}

/* -----------------------------------------------------ECURIE------------------------------------------------------ */
#ecurie{
    display: grid; 
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    padding: 100px 30px 30px 30px;
    background-color: #dfe7ef;
}

#ecurie .driverCard:first-child{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    position: relative;
    border-radius: 3px;
    background-color: #f1f1f1;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    overflow: hidden;
    color: #000000;
    text-decoration: none;
}

#ecurie .driverCard:nth-child(2){
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;  
    position: relative;
    border-radius: 3px;
    background-color: #f1f1f1;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32); 
    overflow: hidden;
    color: #000000;
    text-decoration: none;
}

#ecurie .driverName{
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 600;
}

#ecurie .driverLogo{
    display: flex;
    width: 55%;
    height: 35%;
    justify-content: center;
    
}

#ecurie .driverPortrait{
    position: absolute;
    bottom: -6px;
    right: -100px;
}

#ecurie .infosCard{
    position: relative;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    overflow: hidden;
}

#ecurie .favoris{
    position: absolute;
    top: 10px;
    right: 10px;
}

#ecurie .favoris{
    font-size: 1.4rem;
    cursor: pointer;
    transition: .2s;
}

#ecurie .favoris:not(.fav){
    color: #71829e;
}

#ecurie .favoris .fa-solid:hover{
    color: #eacf00;
}

#ecurie .fav {
    color: #eacf00;
}

#ecurie .constructorLogo{
    height: fit-content;
    width: 100%;
}

#ecurie .constructorLogo img{
    width: 100%;
}

#ecurie .constructorData{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#ecurie .constructorData p{
    margin-top: 20px;
}

#ecurie .carCard{
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    position: relative;
    border-radius: 3px;
    background-color: #f1f1f1;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    overflow: hidden;
}


#ecurie .carCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ecurie .carCard aside{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 35%;
    padding: 10px;
    border-radius: 3px;
    color: #f1f1f1;
    background-color: #000000a2;
    backdrop-filter: blur(8px);
}

/* -----------------------------------------------------PILOTE------------------------------------------------------ */
#pilote{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfe7ef;
    padding-top: 100px;
}

#pilote .container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 90%;
    gap: 10px;
}

#pilote .portrait{
    width: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    overflow: hidden;
    border-radius: 3px;
}

#pilote .portrait img{
position: absolute;
bottom: 0px;
width: 140%;
height: 100%;
object-fit: cover;
}

#pilote .informations{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #f1f1f1;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    padding: 20px;
    border-radius: 3px;
}

#pilote .favoris{
    position: absolute;
    top: 10px;
    right: 10px;
}

#pilote .favoris{
    font-size: 1.4rem;
    cursor: pointer;
    transition: .2s;
}

#pilote .favoris:not(.fav){
    color: #71829e;
}

#pilote .favoris .fa-solid:hover{
    color: #eacf00;
}

#pilote .fav {
    color: #eacf00;
}

#pilote .informations h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    width: 100%;
}

#pilote .informations p{
    margin-top: 20px;
}

#pilote .casque{
    position: absolute;
    top: 130px;
    right: 200px;
    width: 200px;
    height: 200px;
}

#pilote .casque img{
    height: 185px;
}

/* -----------------------------------------------------ACTU------------------------------------------------------ */
#actu{
    padding-top: 100px;
    background-color: #dfe7ef;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#actu::-webkit-scrollbar{
    width: 5px;
}

#actu::-webkit-scrollbar-track{
    background-color: #d0d8e6;
    border-radius: 10px;
}

#actu::-webkit-scrollbar-thumb{
    background-color: #000000;
    border-radius: 10px;
}

.select{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.select span{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 20px;
    height: 30px;
    border-radius: 3px;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #eaeaea;
    cursor: pointer;
}

.select span:not(.active){
    background-color: #f5f9ff;
    color: #0f0f0f;
    transition: .3s;
}

.select span:not(.active):hover{
    background-color:#e0edff;
}

#tous, #favoris{
    display:flex;
    justify-content: space-between;
    align-items: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;   
    gap: 20px;   
}

#favoris{
    display: none;
}


#articles .article{
    width: 300px;
    height: fit-content;
    padding: 20px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    background-color: #f5f9ff;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 5px;
    color: #0f0f0f;
}

#articles .article h2{
    width: 100%;
    text-align: center;
}

#articles .article p{
    margin-top: 10px;
}

#articles .article .infos{
    margin-top: 20px;
    font-size: .8rem;
    font-weight: 300;
    color: #71829e;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

/* ------------------------------------------------PROFIL------------------------------------------------------------ */
#profil{
    padding-top: 100px;
    background-color: #dfe7ef;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#profil h2{
    width: 100%;
    text-align: center;
}

#profil table{
    width: 80%;
    background-color: #f5f9ff;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 5px;
    padding: 20px;
    border-collapse: collapse;
}

#profil table th{
    text-align: left;
    padding: 5px;
}

#profil table td{
    padding: 5px;
}

#profil table tr:nth-child(even){
    background-color: #dce2eb;
}

#profil .form{
    width: 30%;
    margin-top: 50px;
}

#profil form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    background-color: #f5f9ff;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 5px;
    padding: 20px;
}

#profil form a{
    text-align: center;
}

#profil form div:nth-child(3){
    display: flex;
    justify-content: space-between;
}

#profil form div:nth-child(4){
    display: flex;
    justify-content: center;
}
/* ------------------------------------------------RESPONSIVE------------------------------------------------------------ */
@media screen and (max-width: 770px){

    nav{
        padding: 0px 10px;
    }

    #menuBtn{
        right: 50px;
    }

    #headerTitle{
        padding-left: 5px;
        font-size: 6.5rem;
        line-height: 80px;
    }

    #grandprix{
        padding: 100px 10px
    }

    #lastRaceResults{
        padding: 70px 10px;
    }

    #lastRaceResultsHeader span{
        font-size: 3rem;
    }

    #lastRaceResultsUl {
        height: 600px;
    }

    #lastRaceResults li span:nth-child(1) {
        left: 0px;
    }

    #lastRaceResults li div {
        left: 22px;
    }

    #lastRaceResults li span:nth-child(3) {
        margin-left: 37px;
    }

    #messages {
        margin: 0px 0px;
        padding: 20px 10px;
    }

    #listeReponses {
        margin-left: 40px;
    }

    #addMessage form {
        width: 100%;
    }

    #formReponse {
        width: 95%;
    }

    #saison .listeGp {
        height: 700px;
    }

    #saison .listeGp li {
        width: 100%;
    }

    #saison .listeGp img {
        width: 100%;
    }

    #saison #standingsSelector{

        margin-top: 60px;
    }

    .classement li span:nth-child(1) {
        left: 0px;
    }

    .classement li div {
        left: 22px;
    }

    .classement li span:nth-child(3) {
        margin-left: 37px;
    }

    #detailsGp {
        padding: 80px 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow-y: auto;
        height: fit-content;
    }

    #infosGp {
        height: 150px;
    }

    #infosGp div span:first-child {
        line-height: 38px;
        font-size: 3rem;
    }

    #infosGp div span:nth-child(2) {
        font-size: 1.5rem;
    }

    #infosGp div span:nth-child(4) {
        font-size: 1rem;
    }

    #meteo {
        padding: 0px 0px;
    }

    #meteo > div:nth-child(4) {
        height: auto;
    }

    #circuit img {
        width: 100%;
        height: auto;
    }


    #articles .article {
        width: 100%;
    }

    #tous, #favoris {
        flex-direction: column;
        gap: 10px;
    }

    #ecuries {
        height: fit-content;
        overflow-y: auto;
    }

    #accordeonConstructors {
        height: fit-content;
        overflow-y: auto;
        flex-direction: column;
    }

    #accordeonConstructors .constructorCard {
        width: 100%;
        height: 600px;
    }

    #ecurie {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: 80px 30px 30px 30px;
    }

    #ecurie .infosCard {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 3;
        overflow: auto;
    }

    #ecurie .driverCard:first-child {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
    }

    #ecurie .driverCard:nth-child(2) {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 3;
    }

    #ecurie .driverName {
        font-size: 1.2rem;
    }

    #ecurie .driverLogo {
        width: 60%;
        height: 20%;
    }

    #ecurie .driverPortrait {
        right: -80px;
    }

    #ecurie .driverPortrait img{
        height: 250px;
    }

    #ecurie .carCard {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 3;
    }

    #ecurie .carCard aside {
        width: 95%;
        background-color: #00000075;
        backdrop-filter: blur(2px);
    }

    #pilote {
        padding-top: 80px;
    }

    #pilote .container {
        width: 100%;
        height: 100%;
        flex-wrap: wrap-reverse;
        overflow-y: auto;
    }

    #pilote .portrait {
        width: 95%;
        height: 60%;
    }

    #pilote .informations {
        width: 95%;
        height: fit-content;
        padding: 10px 20px;
    }

    #pilote .casque {
        top: 130px;
        right: 5%;
        width: 170px;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    #pilote .casque img {
        height: 150px;
    }

    #pilote .portrait img {
        object-fit: contain;
    }

    #reservation {
        padding: 80px 10px 0px 10px;
    }

    #reservation form {
        height: 100%;
        width: 100%;
    }

    #session {
        width: 100%;
        overflow-x: auto;
        gap: 5px;
        height: 20%;
    }

    #session .session_option {
        min-width: 25%;
    }

    #map img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    #emplacement {
        font-size: .8rem;
    }

    footer .liens {
        FLEX-DIRECTION: column;
        gap: 0px;
        font-size: .8rem;
    }

    #adminMain #utilisateurs {
        flex-direction: column;
        width: 95%;
    }

    #adminMain #listeUtilisateurs, #adminMain #listeMessages{
        width: 100%;
    }
}

@media screen and (max-width: 426px){

    #session .session_option {
        min-width: 35%;
        font-size: .7rem;
    }

    #map {
        height: 30%;
        width: 100%;
    }

    #emplacement {
        height: 45%;
        width: 100%;
    }

    #emplacement .nbPersonnes {
        height: 50px;
    }

    footer .liens {
        FLEX-DIRECTION: column;
        gap: 0px;
        font-size: .7rem;
    }

    #profil .form {
        width: 95%;
    }

    #profil table{
        width: 97%;
        padding: 0 10px;
    }
    
    #profil table th {
        text-align: center;
        font-weight: 500;
        font-size: .8rem;
    }

    #profil table tr{
        font-size: .6rem;
        text-align: center;
    }


}