@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}
#container::-webkit-scrollbar{
    display: none;
}

section{
    height: 100vh;
    width: 100vw;
    scroll-snap-align:start;
}

#chargement:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #030303;
    z-index: 9999;
  }
  
  #chargement::after {
    content: "";
    width: 70px;
    height: 70px;
    border: 2px solid #2f2f2f;
    border-top: 3px solid #f24141;
    border-radius: 100%;
    will-change: transform;
    animation: spin .7s infinite linear  
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

/* -----------------------------------------------------NAV------------------------------------------------------ */

    nav{
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 9999;
        width: 100%;
        height: 100px;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
        color: white;
        padding: 20px 50px;
    }

    nav > * {
        animation: navIn 1.6s;
    }

    nav h1{
        font-family: 'Righteous', cursive;
        font-size: 1.8rem;
        font-weight: 200;
        height: fit-content;
    }
    #menuBtn{
        position: absolute;
        right: 100px;
        top: 27px;
    }

    .fa-chevron-down{
        margin-left: 5px;
        transition: .3s ease-in-out;
        transition-delay: 0.15s;
    }

    #menu{
        height: 0px;
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 65px;
        right: 30px;
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(3px);
        color: #f1f1f100;
        text-transform: uppercase;
        border-radius: 5px;
        overflow: hidden;
        transition: .3s;
        transition-delay: 0.20s;
    }

    #menuBtn:hover{
        cursor: pointer;
    }

    #menuBtn:hover + #menu {
        height: 180px;
        background-color: rgba(24, 24, 24, 0.564);
        color: #f1f1f1;
    }

    #menu:hover {
        height: 180px;
        background-color: rgba(24, 24, 24, 0.564);
        color: #f1f1f1;
        cursor: pointer;
    }

    #menu a{
        padding: 10px 50px 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: #f1f1f1;
    }

    #menu a:not(.active){
        padding: 10px 50px 10px 20px;
        color: #8d8d8d;
        transition: .3s;
    }

    .active{
        background-color: rgb(0, 140, 255);
    }

    #menu a:hover{
        color: #f1f1f1;
    }


    .fa-user{
        font-size: 1.2rem;
        padding: 5px;
        margin-top: 4px;
    }

    #user {
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 0;
        top: 65px;
        right: 30px;
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(3px);
        color: #f1f1f100;
        text-transform: uppercase;
        border-radius: 5px;
        overflow: hidden;
        transition: .3s;
        transition-delay: 0.20s;
    }

    #user span{
        padding: 10px 25px 10px 20px;
        transition: .3s;
    }

    .fa-user:hover{
        cursor: pointer;
    }

    .fa-user:hover + #user {
        height: 90px;
        background-color: rgba(24, 24, 24, 0.564);
        color: #8d8d8d;
    }

    #user:hover{
        height: 90px;
        background-color: rgba(24, 24, 24, 0.564);
        color: #8d8d8d;
        cursor: pointer;
    }

    #user span:hover{
        color: #f1f1f1;
    }

    #container{
        position: relative;
        height: 100vh;
        width: 100vw;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
    }

/* -----------------------------------------------------HOME------------------------------------------------------ */
    /* -----------------------------------------------------HEADER------------------------------------------------------ */

        #header{
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }

        #headerTitle{
            display: flex;
            flex-direction: column;
            position: absolute;
            justify-content: center;
            padding-left: 80px;
            z-index: 1001;
            font-size: 12rem;
            line-height: 150px;
            font-weight: 900;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            height: 100vh;
            width: 100vw;
            vertical-align:middle;
        }

        #headerTitle span{
            font-family: 'Righteous', cursive;
            width: 1100px;
        }

        #headerTitle span:nth-child(1){
            animation: titleIn 1.6s;
        }

        #headerTitle span:nth-child(2){
            animation: titleIn 2s;
        }

        #headerTitle span:nth-child(3){
            animation: titleIn 2.4s;
        }

        #headerTitle span:nth-child(4){
            animation: titleIn 2.8s;
        }

        #header video{
            height: 100vh;
            transform: scale(110%);
            overflow: hidden;
            position: fixed;
            z-index: -1;
        }

        #svg{
            height: 100vh;
            width: 100vw;
            position: absolute;
            top: 0;
            z-index: 1000;
            mix-blend-mode:multiply;
            overflow: hidden;
        }

        #svg img{
            background-color: rgb(0, 0, 0);
            position: absolute;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            transform: scale(170%);
            animation: rotate 4s linear infinite;
            
        }


        #scrollDown{
            position: absolute;
            bottom: 20px;
            font-size: 2rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1002;
            color: white;
            animation: titleIn 2.8s, arrow 2s reverse infinite;
        }

        @keyframes navIn {
            0% {
                opacity: 0;
                transform: translateY(-200px);
            }

            0% {
                opacity: 0;
                transform: translateY(-200px);
            }

            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }


        @keyframes titleIn {
            0% {
                opacity: 0;
                transform: translateY(200px);
            }
            
            40%{
                opacity: 0;
                transform: translateY(200px);
            }
            
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }

        @keyframes rotate {
            from {
                transform: scale(170%);
            }

            to {
                transform: scale(270%);
            }
        }

        @keyframes arrow {
            0% {
                transform: translateY(5px);
                
            }
            20%{
                transform: translateY(-10px);
            }
            100%{
                transform: translateY(5px);
            }
        }
    /* -----------------------------------------------------NEXT GP------------------------------------------------------ */

        #grandprix{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 100vw;
            color: #f1f1f1;
            padding: 100px 50px;
            background-color: #030303;
        }

        #grandprix > p:first-child{
            width: 100%;
            text-align: center;
            z-index: 1002;
            height: fit-content;
        }

        .countdown{
            display: flex;
            z-index: 1002;
            gap: 20px;
            height: fit-content;
        }

        .countdown div{
            flex-basis: 100px;
        }



        .countdown div p:first-child{
            font-size: 60px;
            margin-bottom: -20px;
            text-align: center;
        }

        .countdown div p:last-child{
            text-align: center;
        }

    /* -----------------------------------------------------ACCORDEON------------------------------------------------------ */
        #accordeonGp{
            display: flex;
            flex-direction: row;
            gap: 10px;
            width: 100%;
            height: fit-content;
            margin: 20px 100px;
            overflow-x: scroll;
        }

        #accordeonGp::-webkit-scrollbar{
            height: 5px;
        }

        #accordeonGp::-webkit-scrollbar-track{
            background-color: #ffffff7d;
            border-radius: 10px;
        }

        #accordeonGp::-webkit-scrollbar-thumb{
            background-color: #ffffff;
            border-radius: 10px;
        }

        #accordeonGp .cardGp{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 150px;
            background-color: rgba(255, 0, 0, 0);
            height: 470px;
            transition: .5s;
            overflow: hidden;
            overflow-y: visible;
        }

        #accordeonGp .cardGp:hover{
            min-width: 350px;
            cursor: pointer;
        }

        #accordeonGp .cardGp:hover .nomGp {
            display: block;
        }

        #accordeonGp .cardGp:hover .dateGp {
            /* display: block; */
            color: #f1f1f1;
            background-color: rgba(0, 0, 0, 0.642);
            backdrop-filter: blur(5px);    
        }

        #accordeonGp .nomGp {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 3rem;
            font-weight:900;
            line-height: 40px;
            width: 340px;
            text-transform:uppercase ;
            display: none;
        }

        #accordeon img{
            filter: brightness(0.1);
        }

        #accordeonGp .dateGp {
            position: absolute;
            bottom: 220px;
            width: 350px;
            text-align: center;
            /* display: none; */
            font-size: 2rem;
            font-weight: 900;
            text-transform: uppercase;
            transition: .5s;
            color: #f1f1f100;
            background-color: rgba(0, 0, 0, 0);
        }

    /* -----------------------------------------------------LAST RACE------------------------------------------------------ */

        #lastRace{
            background-color: #030303;
        }
        #lastRaceResults{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 100px;
        }

        #lastRaceResultsHeader{
            width: 100%;
            overflow: hidden;
            border-radius: 5px;
        }

        #lastRaceResultsUl{
            width: 100%;
            height: 650px;
            overflow-y: scroll;
            background-color: rgb(15, 12, 25);
            padding-right: 10px;
        }


        #lastRaceResultsUl::-webkit-scrollbar{
            width: 5px;
        }

        #lastRaceResultsUl::-webkit-scrollbar-track{
            background-color: #ffffff7d;
            border-radius: 10px;
        }

        #lastRaceResultsUl::-webkit-scrollbar-thumb{
            background-color: #ffffff;
            border-radius: 10px;
        }

        #lastRaceResults li{
            display: flex;
            align-items: center;
            background-color: #f1f1f1;
            color: black;
            margin-top: 5px;
            padding: 10px;
            border-radius: 5px;
            position: relative;
        }

        #lastRaceResults li:nth-child(1){
            margin-top: 0px;
        }

        #lastRaceResults li span:nth-child(1){
            margin-left: 10px;
            font-weight: 700;
            position: absolute;
            left: 20px;
        }

        #lastRaceResults li div{
            position: absolute;
            margin-left: 10px;
            width: 5px;
            height: 15px;
            border-radius: 1px;
            left: 45px;
        }

        #lastRaceResults li span:nth-child(3){
            margin-left: 60px;
        }

        #lastRaceResults li span:nth-child(4){
            margin-left: 5px;
            font-weight: 700;
            text-transform: uppercase;
        }

        #lastRaceResults li span:nth-child(5){
            margin-left: 15px;
            font-weight: 300;
            color: #818181;
            font-size: .8rem;
        }

        #lastRaceResults li span:nth-child(6){
            position: absolute;
            color: #dc0606;
            right: 15px;
        }

        #lastRaceResultsHeader{
            position: relative;
            height: 170px;
            margin-bottom: 10px;
        }

        #lastRaceResultsHeader img{
            max-width: 1464px;
        }

        #lastRaceResultsHeader span{
            position: absolute;
            top: 0px;
            left: 0px;
            padding: 20px 10px;
            width: 100%;
            height: 100%;
            line-height: 70px;
            font-size: 5rem;
            font-weight: 900;
            text-transform: uppercase;
            background-color: rgba(0, 0, 0, 0.258);
            color: #f1f1f1;
        }
/* -----------------------------------------------------SAISONS------------------------------------------------------ */
#saison{
    position: relative;
    background-color: #030303;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: fit-content; */
    /* min-height: 100vh; */
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

#saison::-webkit-scrollbar{
    display: none;
}

#saison select{
    position: absolute;
    top: 200px;
    height: fit-content;
    width: fit-content;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.422) ;
    color: #f1f1f1;
}

#saison select:hover{
    cursor: pointer;
}

#saison select option{
    background-color: rgb(12, 11, 22);
}

#saison select option:hover{
    background-color: rgb(15, 101, 214);
}

#calendrier{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* margin-bottom: 50px; */
    padding-top: 80px;

}

#saison .listeGp{
    width: 94%;
    height: 770px;
    overflow-y: scroll;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

#saison .listeGp::-webkit-scrollbar{
    width: 5px;
}

#saison .listeGp::-webkit-scrollbar-track{
    background-color: #ffffff7d;
    border-radius: 10px;
}

#saison .listeGp::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 10px;
}

#saison .listeGp li {
    position: relative;
    height: 250px;
    width: 250px;
    overflow: hidden;
}

#saison .listeGp img{
    width: 250px;
}

#saison .listeGp span{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    height: 100%;
    font-size: 2rem;
    font-weight: 700;
    color: #f1f1f1;
    background-color: rgba(0, 0, 0, 0.336);
}

#saison #standingsSelector{

    margin-top: 100px;
    display: flex;
    gap: 20px;
}

#saison #standingsSelector button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 1.2rem;
    color:#8d8d8d;
    text-transform: uppercase;
    transition: .3s;
}

#saison #standingsSelector button:hover{
    cursor: pointer;
    color: #f1f1f1;
}

#classements{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    /* margin-bottom: 100px; */
}

.classement{
    width: 94%;
    height: 500px;
    overflow-y: auto;
    background-color: rgb(15, 12, 25);
    padding-right: 10px;
    margin-top: 20px;
}


.classement::-webkit-scrollbar{
    width: 5px;
}

.classement::-webkit-scrollbar-track{
    background-color: #ffffff7d;
    border-radius: 10px;
}

.classement::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 10px;
}

.classement li{
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    color: black;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.classement li:nth-child(1){
    margin-top: 0px;
}

.classement li span:nth-child(1){
    margin-left: 10px;
    font-weight: 700;
    position: absolute;
    left: 20px;
}

.classement li div{
    position: absolute;
    margin-left: 10px;
    width: 5px;
    height: 15px;
    border-radius: 1px;
    left: 45px;
}

.classement li span:nth-child(3){
    margin-left: 60px;
}

.classement li span:nth-child(4){
    margin-left: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.classement li span:nth-child(5){
    margin-left: 15px;
    font-weight: 300;
    color: #818181;
    font-size: .8rem;
}

.classement .points {
    position: absolute;
    right: 30px;
    background-color: #dcdcdc;
    border-radius: 20px;
    padding: 2px 10px;
    font-weight: 700;
    font-size: .8rem;
}

.classement li span:last-child{
    position: absolute;
    color: #dc0606;
    right: 15px;
}

#driverStandingsUl{
    height: 700px;
}

/* -----------------------------------------------------DETAILS GRANDPRIX------------------------------------------------------ */

#detailsGp{
    background-color: rgb(9, 9, 28);
    padding: 50px;
    padding-top: 150px;

    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    justify-content: center;
    
}

#infosGp{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#headerGp{
    position: absolute;
    height: 100%;
}

#infosGp div{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

#imgFilter{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #03030381;
}

#infosGp div span{
    height: fit-content;
}

#infosGp div span:first-child{
    line-height: 50px;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;
}

#infosGp div span:nth-child(2){
    line-height: 30px;
    font-size: 2rem;
    text-transform: uppercase;
    width: 100%;
}

#infosGp div span:nth-child(4){
    line-height: 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#infosGp div img{
    height: 20px;
    margin-right: 10px;
}

#meteo{
    display: flex;
    flex-wrap: wrap;
    color: #f1f1f1;
    background-color: rgba(0, 0, 0, 0.4);
}

#errMeteo{
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#errMeteo > span:first-child{
    position: relative;
}

#errMeteo .fa-cloud{
    font-size: 3rem;
}

#errMeteo .fa-circle-exclamation{
    color: #a33232;
    position: absolute;
    right: -5px;
    bottom: 0px;
    font-size: 1.5rem;
}

#meteo > div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
    text-transform: uppercase;
}

#meteo > div:first-child span{
    padding: 10px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

#meteo > div:first-child span:not(.active):hover{
    background-color: #474747;
}

#meteo > div:nth-child(2){
    width: 100%;
    height: 40%;
    /* background-color: #f1f1f1; */
    /* color: black; */
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconMeteo{
    font-size: 2rem;
}

#iconMeteo > span:not(span:first-child){
    display: none;
}

#temperature > span:not(span:first-child){
    display: none;
}

#descrMeteo > span:not(span:first-child){
    display: none;
}

#date > span:not(span:first-child){
    display: none;
}

#meteo > div:nth-child(3){
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#meteo > div:nth-child(4){
    width: 30%;
    height: 40%;
    background-color: #f1f1f1;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circuit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
}

#circuit img{
    height: 550px;
}

#programme{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #f1f1f1;
    position: relative;
    
}

#programme > span:first-child{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3rem;
}

#vendredi, #samedi, #dimanche{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 600;
}

#vendredi span, #samedi span, #dimanche span{
    font-weight: 300;
}

#programme a{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(31, 129, 214);
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
/* -----------------------------------------------------RESERVATION------------------------------------------------------ */
#reservation{
    background-color: #030303;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 50px 50px 50px;
}

#session{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    color: #f1f1f1;
}

#session > div:first-child{
    background-color: rgb(37, 37, 85);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
#session .session_option{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 250px;
    cursor: pointer;
}

#session input{
    display: none;
}

#session .option_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(37, 37, 85);
    width: 100%;
    height: 100%;
}

#session .session_option .radio:checked ~ .option_inner {
    background-color: #008cff;
}

#map{
    height: 65%;
    width: 70%;
    background-color: red;
    overflow: hidden;
}

#map img{
    height: 100%;
}

#emplacement{
    height: 65%;
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 5px;
}

#emplacement > span:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    height: 50px;
    width: 100%;
    background-color: rgb(37, 37, 85);
}

#emplacementSelect{
    height: 70%;
    width: 100%;  
    display: flex;
    padding-right: 5px;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
}

#emplacementSelect::-webkit-scrollbar{
    width: 5px;    
}

#emplacementSelect::-webkit-scrollbar-track{
    background-color: #2f2f2f;
    border-radius: 10px;
}

#emplacementSelect::-webkit-scrollbar-thumb{
    background-color: #ffffff;
    border-radius: 10px;
}


#emplacementSelect .emplacement_option{
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

#emplacementSelect .option_inner{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 85px;
    padding: 20px;
    background-color: rgb(37, 37, 85);
    color: #f1f1f1;
}

#emplacementSelect span:nth-child(2){
    position: absolute;
    right: 20px;
}

#emplacementSelect input{
    display: none;
}

#emplacementSelect .radio:checked ~ .option_inner{
    background-color: #008cff;
}

#emplacement .nbPersonnes{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 85);
    color: #f1f1f1;
}

#emplacement .nbPersonnes input{
    margin-left: 5px;
    padding-left: 5px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.356);
    color: #f1f1f1;
    border: none;
    outline: none;
}

#emplacement .btnReserver{
    background-color: rgb(8, 162, 3);
    color: #f1f1f1;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    border: none;
}


