{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
<section id="reservation">
    <div id="session">
        <div>
            <span>SELECTIONNEZ UNE SESSION</span>
        </div>
        <label class="session_option">
            <input type="radio" class="radio">
            <div>
                <span>VENDREDI - DIMANCHE</span>
                <span>3 jours</span>
                <span>à partir de </span>
            </div>
        </label>
        <label class="session_option">
            <input type="radio" class="radio">
            <div>
                <span>SAMEDI - DIMANCHE</span>
                <span>2 jours</span>
                <span>à partir de </span>
            </div>
        </label>
        <label class="session_option">
            <input type="radio" class="radio">
            <div>
                <span>DIMANCHE</span>
                <span>1 jour</span>
                <span>à partir de </span>
            </div>
        </label>
        <label class="session_option">
            <input type="radio" class="radio">
            <div class="option_inner">
                <span>SAMEDI</span>
                <span>1 jour</span>
                <span>à partir de </span>
            </div>
        </label>
        <label class="session_option">
            <input type="radio" class="radio">
            <div>
                <span>VENDREDI</span>
                <span>1 jour</span>
                <span>à partir de </span>
            </div>
        </label>

    </div>
    <div id="map"></div>
    <div id="emplacement"></div>
</section>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('javascript/reservation.js') }}"></script>
{% endblock %}
