{% extends 'base.html.twig' %}

{% block title %}Hello ActuController!{% endblock %}

{% block body %}
    <section id="articles">
        {% for article in articles %}
            <div>
                <h2>{{ article.title }}</h2>
                <span>Publié le {{ article.createdAt | date("d/m/Y") }}</span>
                <p>{{ article.content }}</p>
                <span>Source: {{ article.source }}</span>
            </div>
        {% endfor %}
    </section>
{% endblock %}
