{% extends 'base.html.twig' %}

{% block title %}F1ndout - Conditions générales d'utilisation{% endblock %}

{% block body %}
    <main id="politiqueMain">
        <div>
            <h2>Conditions générales d'utilisation</h2>
            <p>
                Dernière mise à jour : 12/06/2023<br><br>

                Les présentes conditions générales d'utilisation régissent votre utilisation du site web. En utilisant notre site, vous acceptez ces conditions dans leur intégralité.<br><br>

                Lorsque vous utilisez notre site web, vous vous engagez à respecter les règles suivantes :<br><br>

                Vous devez être respectueux dans les commentaires et éviter tout contenu diffamatoire, obscène, offensant ou illégal.<br>
                Vous ne devez pas perturber ou compromettre la sécurité ou le bon fonctionnement du site en utilisant des robots, en envoyant du spam, en tentant de pirater le site ou en menant toute autre activité abusive.<br><br>
                
                Propriété intellectuelle:<br>
                Tous les droits de propriété intellectuelle associés à notre site web, y compris le contenu, les graphiques, les logos et les marques déposées, sont la propriété de Formula One Licensing BV ou de ses concédants de licence.<br><br>

                Comptes utilisateur:<br>
                Vous pouvez créer un compte utilisateur sur notre site web en accédant au formulaire d'inscription. Vous êtes responsable de maintenir la confidentialité de vos informations de connexion. Vous pouvez modifier votre pseudo, votre mot de passe et votre image utilisateur dans les paramètres de votre compte.<br><br>

                Réservation du droit de restriction:<br>
                Nous nous réservons le droit de restreindre ou de suspendre votre accès à notre site web si vous enfreignez ces conditions générales d'utilisation ou si vous vous engagez dans un comportement abusif.<br><br>

                Limitation de responsabilité:<br>
                Nous ne serons pas responsables des dommages directs, indirects, consécutifs ou spéciaux découlant de l'utilisation de notre site web. Nous ne garantissons pas l'exactitude, l'exhaustivité ou l'actualité des informations présentes sur notre site.<br><br>

                Modification des conditions générales d'utilisation:<br>
                Nous nous réservons le droit de modifier ces conditions générales d'utilisation à tout moment. Toute modification sera publiée sur cette page avec la nouvelle date de mise à jour. Il est de votre responsabilité de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.<br><br>
            </p>
        </div>
    </main>
{% endblock %}