{% extends 'base.html.twig' %}

{% block title %}F1ndout - Conditions générales de vente{% endblock %}

{% block body %}
    <main id="politiqueMain">
        <div>
            <h2>Conditions générales de vente</h2>
            <p>
                Dernière mise à jour : 12/06/2023<br><br>
                
                Les présentes conditions générales de vente régissent les réservations effectuées sur F1ndout.com. Veuillez les lire attentivement avant de passer une commande. En effectuant une réservation, vous acceptez ces conditions dans leur intégralité. Si vous n'acceptez pas ces conditions, veuillez ne pas effectuer de réservation sur notre site.<br><br>
                
                Réservation de places pour les Grandprix:<br>
                F1ndout.com vous permet de réserver des places pour assister aux Grands Prix de Formule 1 de votre choix.<br><br>
                
                Processus de réservation:<br>
                Pour effectuer une réservation, vous devez suivre les étapes de réservation sur notre site web. Vous devez être connecté à votre compte utilisateur pour pouvoir effectuer une réservation.<br><br>
                
                Confirmation de réservation:<br>
                Après avoir effectué une réservation, vous recevrez une confirmation par e-mail contenant les détails de votre réservation, y compris les informations sur le Grand Prix, la date, l'emplacement et les modalités de paiement.<br><br>
                
                Livraison de la réservation:<br>
                La réservation sera envoyée à l'adresse e-mail associée à votre compte utilisateur. Veuillez vérifier votre boîte de réception, y compris le dossier des courriers indésirables, pour recevoir votre réservation.<br><br>
                
                Remboursements:<br>
                Vous avez le droit de demander un remboursement tant que la date du Grand Prix n'est pas dépassée. Veuillez nous contacter à contact@f1ndout.com pour toute demande de remboursement. Des conditions et des frais d'annulation peuvent s'appliquer.<br><br>
                
                Garantie:<br>
                Nous offrons une garantie uniquement en cas d'annulation du Grand Prix par les organisateurs. Dans ce cas, nous vous rembourserons intégralement le montant de votre réservation.<br><br>
                
                Prix et paiements:<br>
                Les prix des réservations sont clairement indiqués sur notre site web. Les modalités de paiement acceptées sont gérées par notre prestataire de services de paiement, Stripe. Vos informations de paiement seront protégées conformément aux normes de sécurité de Stripe.<br><br>
                
                Responsabilité:<br>
                Nous ne serons pas responsables des dommages directs, indirects, consécutifs ou spéciaux découlant de votre participation à un Grand Prix. Vous êtes responsable de votre propre sécurité et de votre comportement lors de l'événement.<br><br>
                
                Modification des conditions générales de vente:<br>
                Nous nous réservons le droit de modifier ces conditions générales de vente à tout moment. Toute modification sera publiée sur cette page avec la nouvelle date de mise à jour. Il est de votre responsabilité de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.      
            </p>
        </div>
    </main>
{% endblock %}