{% extends 'base.html.twig' %}

{% block title %}F1ndout - Politique de confidentialité{% endblock %}

{% block body %}
    <main id="politiqueMain">
        <div>
            <h2>Politique de confidentialité</h2>
            <p>
                Dernière mise à jour : 12/06/2023 <br><br>

                Nous attachons une grande importance à la confidentialité de vos informations personnelles. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons les informations que vous nous fournissez lorsque vous utilisez notre site web.<br><br>

                Collecte d'informations personnelles:<br>
                Nous ne collectons que votre adresse e-mail lorsque vous vous inscrivez sur notre site web.<br><br>

                Finalité de la collecte d'informations:<br>
                Nous collectons votre adresse e-mail uniquement dans le but d'identifier votre compte utilisateur et de vous permettre de bénéficier de nos services.<br><br>

                Méthode de collecte d'informations:<br>
                Nous collectons votre adresse e-mail via un formulaire d'inscription présent sur notre site web.<br><br>

                Partage d'informations avec des tiers:<br>
                Nous partageons votre adresse e-mail uniquement avec Stripe, notre fournisseur de services de paiement, lorsque vous choisissez d'effectuer une réservation sur notre site web. Cela est nécessaire pour traiter votre paiement.<br><br>

                Cookies et technologies similaires:<br>
                Nous n'utilisons pas de cookies ou de technologies similaires sur notre site web.<br><br>

                Sécurité des informations:<br>
                Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non autorisé, divulgation ou utilisation abusive. Cependant, veuillez noter qu'aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée. Nous ne pouvons donc garantir une sécurité absolue.<br><br>

                Droits des utilisateurs:<br>
                Vous disposez du droit de demander l'accès, la modification ou la suppression de vos informations personnelles que nous détenons. Vous pouvez également demander la limitation de l'utilisation de vos données. Veuillez nous contacter à l'adresse e-mail contact@f1ndout.com pour exercer vos droits.<br><br>

                Durée de conservation des informations:<br>
                Nous conservons vos informations personnelles aussi longtemps que votre compte utilisateur est actif. Vous avez la possibilité de supprimer votre compte à tout moment, ce qui entraînera la suppression de vos informations.<br><br>

                Modification de la politique de confidentialité:<br>
                Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page avec la nouvelle date de mise à jour.<br><br>

                Coordonnées de contact
                Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez nous contacter à l'adresse e-mail suivante : contact@f1ndout.com
            </p>
        </div>
    </main>
{% endblock %}
