{% extends 'base.html.twig' %}

{% block title %}Grandprix{% endblock %}

{% block body %}
<div hidden id="chargement"></div>
<section id="detailsGp">
    <div id="infosGp">
        <img id="headerGp" src="../assets/grandprix/{{id}}_header.png" alt="">
        <div id="imgFilter"></div>
        <div>
            <span id="nomGp"></span>
            <span id="nomCircuit"></span>
            <img id="drapeau" src="" alt="">
            <span id="pays"></span>
        </div>
    </div>
    <div id="meteo">
        <div>
            <span id="btnVendredi" class="active">Vendredi</span>
            <span id="btnSamedi">Samedi</span>
            <span id="btnDimanche">Dimanche</span>
        </div>
        <div>
            <span id="temperature"></span>
        </div>
        <div>
            <span id="iconMeteo"></span>
            <span id="descrMeteo"></span>
        </div>
        <div>   
            <span id="date"></span>
        </div>
        <div id="errMeteo">
            <span><i class="fa-solid fa-cloud"></i><i class="fa-solid fa-circle-exclamation"></i></span>
            <span>Météo indisponible</span>
        </div>
    </div>
    <div id="circuit"></div>
    <div id="programme">
        <span>Programme du weekend</span>
        <div id="vendredi">Vendredi</div>
        <div id="samedi">Samedi</div>
        <div id="dimanche">Dimanche</div>
        <a href="{{ path('app_reservation', {'id': id }) }}">Reserver une place</a>
    </div>
</section>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('javascript/grandprix.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment-with-locales.min.js"></script>
{% endblock %}